body {
  background-color: white;
}


html, body, .container {
    height:100%;
    font-family: 'Roboto Slab', serif;
}

.main {
  height: 25%;
  margin-top: 10px;
}

.icon-bar{
  padding: 5px;
  float: right;
}


a .fa {
color: black;
}

#projects{
  font-family: 'Open Sans', sans-serif;
}

#projects h2{
  font-family: 'Roboto Slab', serif;
}

.proj-row{
  display: flex;
  justify-content: flex-start;
}
.proj-card{
  width: 30%;
  margin: 10px;
  opacity: 0.8;
  border-radius: 10px;
  display: flex;
}

.proj-title{
  font-size: 1.2em;
}

.img-contain{
  display: flex;
}

.proj-img{
  margin: auto;
  max-width: 100%;
}



.right-triangle{
  z-index: -100;
  position: fixed;
  bottom: 0%;
  right: 0%;
  height: 100%;
  width: 50%;
  background: #99FB1A;
  background: linear-gradient(to bottom right, #B9FCBD, #99FB1A);
  -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  opacity: 0.7;
}

.left-triangle{
  z-index: -100;
  position: fixed;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 50%;
  background: #99FB1A;
  -webkit-clip-path: polygon(25% 0, 0 0, 0 25%);
  clip-path: polygon(25% 0, 0 0, 0 25%);
  opacity: 0.7;
}