body {
  background-color: white;
}


html, body, .container {
    height:100%;
}

.main {
  height: 25%;
  margin-top: 10px;
}

.icon-bar{
  padding: 5px;
  float: right;
}


a .fa {
color: black;
}



.right-triangle{
  position: absolute;
  bottom: 0%;
  right: 0%;
  height: 100%;
  width: 50%;
  background: #99FB1A;
  -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);;
clip-path: polygon(100% 0, 0% 100%, 100% 100%);;

}