body {
  background-color: white;
}


html, body, .container {
    height:100%;
}

.main {
  height: 25%;
  margin-top: 10px;
}

.icon-bar{
  padding: 5px;
  float: right;
}


a .fa {
color: black;
}

/*.box{
  position: absolute;
}*/

.right-triangle{
  position: fixed;
  bottom: 0%;
  right: 0%;
  height: 100%;
  width: 50%;
  background: #99FB1A;
/*  background: linear-gradient(to bottom right, #B9FCBD, #99FB1A);*/
  -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  opacity: 0.3;
}

.left-triangle{
  position: fixed;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 50%;
  background: #99FB1A;
-webkit-clip-path: polygon(25% 0, 0 0, 0 25%);
clip-path: polygon(25% 0, 0 0, 0 25%);
  opacity: 0.3;
}